.loginButton {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 129, 255, 1) 34%,
    rgba(186, 130, 238, 1) 89%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 129, 255, 1) 34%,
    rgba(186, 130, 238, 1) 89%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(0, 129, 255, 1) 34%,
    rgba(186, 130, 238, 1) 89%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BA82EE', endColorstr='#0081FF', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(0, 129, 255, 1) 34%,
    rgba(186, 130, 238, 1) 89%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(0, 129, 255, 1) 34%,
    rgba(186, 130, 238, 1) 89%
  );
}

.loginButton-container {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    162deg,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(255, 255, 255, 0) 21%,
    rgba(255, 255, 255, 0) 34%,
    rgba(255, 255, 255, 0) 41%,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 0) 56%,
    rgba(159, 73, 173, 0.32) 89%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    162deg,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(255, 255, 255, 0) 21%,
    rgba(255, 255, 255, 0) 34%,
    rgba(255, 255, 255, 0) 41%,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 0) 56%,
    rgba(159, 73, 173, 0.32) 89%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    162deg,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(255, 255, 255, 0) 21%,
    rgba(255, 255, 255, 0) 34%,
    rgba(255, 255, 255, 0) 41%,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 0) 56%,
    rgba(159, 73, 173, 0.32) 89%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9F49AD', endColorstr='#FFFFFF', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    162deg,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(255, 255, 255, 0) 21%,
    rgba(255, 255, 255, 0) 34%,
    rgba(255, 255, 255, 0) 41%,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 0) 56%,
    rgba(159, 73, 173, 0.32) 89%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(255, 255, 255, 0) 21%,
    rgba(255, 255, 255, 0) 34%,
    rgba(255, 255, 255, 0) 41%,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 0) 56%,
    rgba(159, 73, 173, 0.32) 89%
  );
}

.home {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    132deg,
    rgba(43, 79, 130, 1) 2%,
    rgba(5, 17, 37, 1) 43%,
    rgba(5, 17, 37, 1) 44%,
    rgba(5, 17, 37, 1) 54%,
    rgba(43, 79, 130, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    132deg,
    rgba(43, 79, 130, 1) 2%,
    rgba(5, 17, 37, 1) 43%,
    rgba(5, 17, 37, 1) 44%,
    rgba(5, 17, 37, 1) 54%,
    rgba(43, 79, 130, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    132deg,
    rgba(43, 79, 130, 1) 2%,
    rgba(5, 17, 37, 1) 43%,
    rgba(5, 17, 37, 1) 44%,
    rgba(5, 17, 37, 1) 54%,
    rgba(43, 79, 130, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B4F82', endColorstr='#2B4F82', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    132deg,
    rgba(43, 79, 130, 1) 2%,
    rgba(5, 17, 37, 1) 43%,
    rgba(5, 17, 37, 1) 44%,
    rgba(5, 17, 37, 1) 54%,
    rgba(43, 79, 130, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    132deg,
    rgba(43, 79, 130, 1) 2%,
    rgba(5, 17, 37, 1) 43%,
    rgba(5, 17, 37, 1) 44%,
    rgba(5, 17, 37, 1) 54%,
    rgba(43, 79, 130, 1) 100%
  );
}

.addButton {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    139deg,
    rgba(57, 120, 210, 1) 1%,
    rgba(104, 43, 130, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    139deg,
    rgba(57, 120, 210, 1) 1%,
    rgba(104, 43, 130, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    139deg,
    rgba(57, 120, 210, 1) 1%,
    rgba(104, 43, 130, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#682B82', endColorstr='#3978D2', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    139deg,
    rgba(57, 120, 210, 1) 1%,
    rgba(104, 43, 130, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    139deg,
    rgba(57, 120, 210, 1) 1%,
    rgba(104, 43, 130, 1) 100%
  );
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

#taskFrameContainer {
  animation: sweepup 0.3s ease-in;
}
@keyframes sweepup {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(90%);
  }
  20% {
    transform: translateY(80%);
  }
  30% {
    transform: translateY(70%);
  }
  50% {
    transform: translateY(60%);
  }
  50% {
    transform: translateY(50%);
  }
  60% {
    transform: translateY(40%);
  }
  70% {
    transform: translateY(30%);
  }
  80% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

#sweepDown {
  touch-action: none;
}
